<div class="card mt-5">
    <div class="card-title mt-2">
        <h2 class="text-center text-primary mt-3"><i class="fa fa-users"></i>Sign Up</h2>
    </div>
    <div class="card-body">
        <form #registerForm="ngForm" (ngSubmit)="register()" autocomplete="off">
            <div class="form-group">
                <input 
                    name="Username"
                    [(ngModel)]="model.username"
                    class="form-control mb-2"
                    type="text" 
                    placeholder="Username" >
            </div>
            <div class="form-group">
                <input 
                    name="Password"
                    [(ngModel)]="model.password"
                    class="form-control me-2" 
                    type="password" 
                    placeholder="Password">
            </div>
            <div class="form-group text-center mt-3">
                <button class="btn btn-success me-2" type="submit">Regiter</button>
                <button class="btn btn-dark mr-2" (click)="cancel()" type="button">Cancel</button>
            </div>
        </form>
    </div>
</div>
